:root {
    --hero: #008000;
    --dark: #003200;
    --muted: #034e03;
    --superdark: #021f02;
    --alt: #3b7c32;
    --btn: #97d180;
    --btncolor: #000;
    --btnhover: #e2ffbe;
    --btnactive: #102e10;
    --input: #f3f3f3;
    --red: #ff1100;
    --green: #0dff00;
    --blue: #0015ff;
    --magenta: #ff56e8;
    --yellow: #ffd000;
    --cyan: #23deff;
    --brdrrds: 12px;
    --engContHeight: 80px;
    --textcolor:#fff;
}
html {
    scrollbar-color:  var(--alt) var(--dark);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--dark);
    color: var(--textcolor);
}

* {
    box-sizing: border-box;
}

a {
    color: var(--cyan);
    &:hover,&:focus-within {
        color: var(--yellow);
    }
    &:active {
        color: var(--magenta);
    }
}

.topnav {
    text-align: center;
    padding: 8px;
    a {
        cursor: pointer;
        padding: 2px;
    }
}

.menu {
    display: none;
}

.activemenu {
    display: block;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    transition: background-color 0.1s;
}

figure {
    margin:32px;
}

form {
    display: flex;
    gap: 8px;
    width: 100%;
    height: auto;
    flex-direction: column;
    input {
        background-color: var(--input);
        padding-left: 12px;
        font-family: 'Roboto Mono', monospace;
        transition: all 0.2s;
        flex: 1;
        border-radius: 4px;
        border: 1px #aaa solid;
        &[type="search"] {
            min-height: 32px;
            &:hover,&:focus-within {
                border-color: #444;
            }
            &:focus-within {
                padding-left: 32px;
                transform: translateY(-2px);
                flex: 3;
                background-color: #fff;
            }
        }
        &[type="submit"] {
            padding: 0!important;
            color: #fff;
            font-weight: bold;
            background-color: #0051ff;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            min-height: 32px;
            &:hover,
            :focus-within {
                background-color: #187cff;
            }
            &:active {
                background-color: #0013c0;
                transform: translateY(2px);
            }
        }
    }
}

.content:has(.hc) {
    justify-content: center;
}

@media (max-width: 500px) {
    .hc {
        align-content: center;
    };
    .content {
        flex-direction: column;
    }
}

.hc {
    padding: 16px;
    max-width: 500px;
    display: block;
    img {
        width: 100%;
    }
}

.ac {
    display: flex;
    text-align: center;
}

.navbar {
    height: 64px;
    padding: 8px;
    display: flex;
    button {
        flex: 1;
    }
}

button {
    transition: all 0.1s;
    background-color: var(--btn);
    color: var(--btncolor);
    border: 2px solid var(--hero);
    border-radius: var(--brdrrds);
    flex: 1;
    cursor: pointer;
    &:hover {
        background-color: var(--btnhover);
    }
    &:active {
        background-color: var(--btnactive);
    }
}

iframe {
    flex: 1;
}