/*

    SearchPlusPREMIUM | made by ccn0 | v1.6.18D03
    https://ccn0.net/searchpluspremium/ | https://bsky.app/profile/ccn0.net

*/

[data-theme="default"] {
    --hero: #008000;
    --dark: #003200;
    --muted: #034e03;
    --superdark: #021f02;
    --alt: #3b7c32;
    --btn: #97d180;
    --btncolor: #000;
    --btnhover: #e2ffbe;
    --btnactive: #102e10;
    --input: #f3f3f3;
    --inputcolor: #000;
    --inputfocus: #fff;
    --red: #ff1100;
    --green: #0dff00;
    --blue: #0015ff;
    --magenta: #ff56e8;
    --yellow: #ffd000;
    --cyan: #23deff;
    --brdrrds: 12px;
    --engContHeight: 80px;
    --textcolor:#fff;
    --font: Arial, sans-serif;
}
html {
    scrollbar-color:  var(--alt) var(--dark);
}
body {
    margin: 0;
    font-family: var(--font);
    background: var(--dark);
    color: var(--textcolor);
}

* {
    box-sizing: border-box;
}

a,.topnav>button {
    color: var(--cyan);
    &:hover,&:focus-within {
        color: var(--yellow);
    }
    &:active {
        color: var(--magenta);
    }
}

.topnav>button {
    background: none!important;
    transition: none;
    border: none!important;
    font-size: 100%;
    font-family: var(--font);
}

.topnav {
    text-align: center;
    padding: 8px;
    a,button {
        cursor: pointer;
        padding: 4px;
    }
}

.hidden {
    display: none!important;
}

.activemenu {
    display: block;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    flex-wrap: wrap;
    width: 100%;
    transition: background-color 0.1s;
    overflow: hidden;
}

.readme {
    overflow-y: auto;
    height: auto;
}

figure {
    margin:32px;
}

input {
    color: var(--inputcolor);
}

form {
    display: flex;
    gap: 8px;
    width: 100%;
    height: auto;
    flex-direction: column;
    input {
        background-color: var(--input);
        padding-left: 12px;
        font-family: 'Roboto Mono', monospace;
        transition: all 0.2s;
        flex: 1;
        border-radius: 4px;
        border: 1px #aaa solid;
        &[type="search"] {
            min-height: 32px;
            &:hover,&:focus-within {
                border-color: #444;
            }
            &:focus-within {
                padding-left: 32px;
                transform: translateY(-2px);
                flex: 3;
                background-color: var(--inputfocus);
            }
        }
        &[type="submit"] {
            padding: 0!important;
            color: #fff;
            font-weight: bold;
            background-color: #0051ff;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            min-height: 32px;
            &:hover,
            :focus-within {
                background-color: #187cff;
            }
            &:active {
                background-color: #0013c0;
                transform: translateY(2px);
            }
        }
    }
}

.content:has(.hc) {
    justify-content: center;
}

.hc {
    padding: 16px;
    display: flex;
    align-content: center;
    flex: 1;
    img {
        width: 100%;
    }
}

.hcdiv {
    max-width: 500px;
}

.ac {
    display: flex;
    flex: 1;
    background-color: var(--alt);
    min-height: 100vh;
    flex-direction: column;
}

.appcontainer {
    display: flex;
	background: var(--muted);
    padding: 8px;
    flex: 1;
}

.apphead {
    flex: 0;
    text-align: center;
    width: 100%;
    min-height: 68px;
    align-content: center;
}

.container {
    border: 2px solid var(--hero);
    background-color: var(--superdark);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 16px;
}

[data-mid="about"]>.appcontainer {
    max-height: calc(100vh - 68px - 68px);
}
[data-mid="settings"]>.appcontainer {
    max-height: calc(100vh - 68px - 84px);
}
[data-mid="engines"]>.appcontainer {
    max-height: calc(100vh - 68px - 120px);
}

.appbtns {
	flex: 0;
	padding: 8px;
	background: var(--alt);
}

.btnrow {
    display: flex;
    button {
        height: 48px;
        margin: 2px;
        flex: 1;
    }
}

.navbar {
    height: 64px;
    padding: 8px;
    display: flex;
    button {
        flex: 1;
    }
}

button {
    transition: all 0.05s;
    background-color: var(--btn);
    color: var(--btncolor);
    border: 2px solid var(--hero);
    border-radius: var(--brdrrds);
    flex: 1;
    cursor: pointer;
    &:hover {
        background-color: var(--btnhover);
    }
    &:active {
        background-color: var(--btnactive);
    }
}

.ELcontainer {
    display: flex;
    border: 1px solid var(--hero);
    height: 96px;
    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.ELbtns {
	display: flex;
	flex-direction: column;
	flex: 1;
    button {
        flex: 1;
        border-radius: 0;
        border: 1px solid var(--hero);
        align-content: center;
    }
}

.ELinputs {
	display: flex;
	flex-direction: column;
    border: 1px solid var(--hero);
	flex: 4;
    input {
        transition: all 0.2s;
        font-family: var(--font);
        flex: 1;
        border-radius: 0;
        background-color: var(--input);
        &:hover,&:focus-within {
            border-color: #444;
        }
        &:focus-within {
            background-color: var(--inputfocus);
        }
    }
}

@media (min-width: 1080px) {
    .ac {
        max-width: 480px;
    }
}

@media (max-width: 500px) {
    .hc {
        justify-content: center;
        min-height: 100vh;
    }
    .content {
        flex-direction: column;
    }
    .appcontainer {
        overflow-y: auto;
        flex: 1;
    }

}

#enginelist {
    padding: 4px;
}

.readme {
    padding: 4px 16px;
}

iframe {
    flex: 1;
    width: 100%;
    height: 100%;
}

[data-theme="sppdark"] {
    --input: #000;
    --inputfocus: #333;
    --inputcolor: #fff;
	--hero: #008000;
	--dark: #000;
	--muted: #011701;
	--superdark: #001400;
	--alt: #0b3905;
	--btn: #134400;
	--btnhover: #59a200;
	--btnactive: #102e10;
    --btncolor: #fff;
    --red: #ff1100;
    --green: #0dff00;
    --blue: #0015ff;
    --magenta: #ff56e8;
    --yellow: #ffd000;
    --cyan: #23deff;
    --brdrrds: 12px;
    --engContHeight: 80px;
    --textcolor:#fff;
    --font: Arial, sans-serif;
}